@charset "utf-8";

.pyonpyon span {
    animation: pyon 0.3s linear;
    position: relative;
}

@keyframes pyon {
    0% {top: 0}
    50% {top:-17px}
    100%{top: 0}
}

p{
	text-align: center;
}

div{
	background-color: #cccccc;
	padding: 5px 5px; 
}

table{
	margin: 0 auto;
}

tr{
	width: 100%;
	padding: 0;
}

td{
	margin: 0;
}

#dat1,
#dat2,
#dat3{
	display: flex;
	justify-content: space-around;
	width: 95%;
	text-align: center;
	font-size: 50px;
	margin: 0px auto;
	padding: 5px;
}

#stop1,
#stop2,
#stop3{
	width: 100%;
	text-align: center;
	margin: 10px 0;
	padding: 20px;
	background-color: #ff4f4f;
}

#start,
#reload{
	width: 100%;
	text-align: center;
	margin: 10px 0;
	padding: 20px;
	background-color: #999999;
}